/* Editor container */
/* monaco */
/* monacoCustomStyles.css */
.monaco-editor .view-lines {
    line-height: 1.6; /* Increase line height for better readability */
  }
  
  .monaco-editor {
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    background-color: #1e1e1e; /* Background to match dark theme */
  }
  
  .monaco-editor .margin {
    background-color: #252526; /* Change the color of line number area */
  }
  
  .monaco-editor .scrollbar {
    background-color: #333; /* Modern dark scrollbar */
  }
  
